<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= poem.title %> by <%= poem.author %></title>
  <link rel="stylesheet" href="/styles.css">
<style>
    /* CSS styles for poem.ejs */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #FFFACD; /* Lemon chiffon */
      color: #2F4F4F; /* Dark slate gray */
    }
    header {
      background-color: #004445; /* Dark teal */
      color: #FFFACD; /* Lemon chiffon */
      padding: 20px 0;
      text-align: center;
    }
    .container {
      width: 80%;
      margin: 0 auto;
    }
    h1 {
      margin: 0;
    }
    pre {
      white-space: pre-wrap;
      padding: 20px;
      border: 2px solid #2c786c; /* Dark sea green */
      border-radius: 10px;
      background-color: #faf5e4; /* Beige */
    }
    a {
      color: #2c786c; /* Dark sea green */
      text-decoration: none;
      display: block;
      margin-top: 20px;
      text-align: center;
    }
    a:hover {
      text-decoration: underline;
    }
    footer {
      background-color: #004445; /* Dark teal */
      color: #FFFACD; /* Lemon chiffon */
      padding: 20px 0;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    footer p {
      margin: 0;
    }
  </style>
</head>
<body>
  <header class="fourth-color">
    <div class="container">
      <h1><%= poem.title %> by <%= poem.author %></h1>
    </div>
  </header>
  <div class="container second-color">
    <pre><%= poem.lines.join('\n') %></pre>
     
    <a href="javascript:history.back()">Back to Results</a>
    <a href="/">Back to Home</a>
  </div>
  <footer class="fourth-color">
    <div class="container">
      <p>&copy; 2024 Poetry Finder</p>
    </div>
  </footer>
</body>
</html>
